[submodule "Loop"]
	path = Loop
	url = https://github.com/replicahealth/LoopReplicaIntegration.git
[submodule "LoopKit"]
	path = LoopKit
	url = https://github.com/replicahealth/LoopKitReplicaIntegration.git
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	url = https://github.com/LoopKit/CGMBLEKit.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/LoopKit/dexcom-share-client-swift.git
[submodule "rileylink_ios"]
	path = rileylink_ios
	url = https://github.com/ps2/rileylink_ios.git
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	url = https://github.com/LoopKit/MKRingProgressView.git
[submodule "NightscoutService"]
	path = NightscoutService
	url = https://github.com/replicahealth/NightscoutService.git
	branch = feature/policy-trials
[submodule "Minizip"]
	path = Minizip
	url = https://github.com/LoopKit/Minizip.git
[submodule "TrueTime.swift"]
	path = TrueTime.swift
	url = https://github.com/LoopKit/TrueTime.swift.git
[submodule "LoopOnboarding"]
	path = LoopOnboarding
	url = https://github.com/LoopKit/LoopOnboarding.git
[submodule "AmplitudeService"]
	path = AmplitudeService
	url = https://github.com/LoopKit/AmplitudeService.git
[submodule "LogglyService"]
	path = LogglyService
	url = https://github.com/LoopKit/LogglyService.git
[submodule "NightscoutAPIClient"]
	path = NightscoutAPIClient
	url = https://github.com/LoopKit/NightscoutAPIClient.git
[submodule "LoopSupport"]
	path = LoopSupport
	url = https://github.com/LoopKit/LoopSupport
[submodule "G7SensorKit"]
	path = G7SensorKit
	url = https://github.com/LoopKit/G7SensorKit.git
[submodule "TidepoolService"]
	path = TidepoolService
	url = https://github.com/LoopKit/TidepoolService.git
[submodule "TidepoolKit"]
	path = TidepoolKit
	url = https://github.com/LoopKit/TidepoolKit.git
[submodule "MinimedKit"]
	path = MinimedKit
	url = https://github.com/LoopKit/MinimedKit.git
[submodule "OmnipodKit"]
	path = OmnipodKit
	url = https://github.com/replicahealth/OmnipodKit.git
	branch = replica-o5-dev
[submodule "LibreCRKit"]
	path = LibreCRKit
	url = https://github.com/replicahealth/LibreCRKitReplicaIntegration.git
	branch = main
[submodule "LibreLoop"]
	path = LibreLoop
	url = https://github.com/replicahealth/LibreLoopReplicaIntegration.git
	branch = main
